{{ define "main" }}

<div class="max-w-2xl mx-auto space-y-8">
  <div class="flex justify-between items-center">
    <div class="flex space-x-4">
      <a
        href="javascript:history.back()"
        class="text-gray-800 hover:text-gray-900 transition font-medium border border-gray-200 hover:border-gray-300 rounded-full px-4 py-2"
      >
        ← Go back
      </a>
    </div>
    <a     
      class="text-gray-800 hover:text-gray-900 transition font-medium border border-gray-200 hover:border-gray-300 rounded-full px-4 py-2" 
      href=https://github.com/praveenjuge/copybook/blob/main/content/{{ .File.Path }}
      target="_blank"
      rel="noopener noreferrer"
    >
      Edit on GitHub ↗
    </a>
  </div>

  <div
    class="bg-gray-50 border border-gray-100 rounded-lg px-6 py-10 block text-base font-semibold text-center select-text"
  >
    {{ .Content }}
  </div>

  <div class="divide-y divide-gray-200">
    {{ with .Params.categories }}
      <div class="flex justify-between items-center py-3.5">
        <p class="text-gray-500">Category</p>
        <a class="font-medium" href="{{ "/categories/" }}{{ . | urlize }}">{{ . | title }}</a>
      </div>
    {{ end }}

    <div class="flex justify-between items-center py-3.5">
      <p class="text-gray-500">Tags</p>
      <div>
        {{ range $key, $value := .Params.tags }}
          <a class="font-medium" href="{{ "/tags/" }}{{ $value | urlize }}">#{{ $value }}</a>{{ if ne $key (sub (len $.Params.tags) 1) }}, {{ else }}{{ end }}
        {{ end }}
      </div>
    </div>

    {{ with .Params.mood }}
      <div class="flex justify-between items-center py-3.5">
        <p class="text-gray-500">Mood</p>
        <a class="font-medium" href="{{ "/mood/" }}{{ . | urlize }}">{{ . | title }}</a>
      </div>
    {{ end }}

  </div>

</div>

{{ end }}
