<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 font-medium gap-6">
  {{ if eq .Kind "home" }} {{range .Site.RegularPages.ByDate.Reverse }} {{
  partial "copy-card" . }} {{end}} {{ else if eq .Kind "taxonomy" }} {{range
  .Pages }}
  <a
    class="rounded-lg p-5 block transition group overflow-hidden ring-1 ring-stone-200/75 focus:z-10 focus:outline-none focus:ring-2 focus:ring-stone-400 hover:ring-stone-300 hover:z-10"
    href="{{.Permalink}}"
  >
    {{ if in .Permalink "/tags" }} #{{.Title | urlize}} {{ else }} {{.Title |
    title}} {{ end }}
  </a>
  {{end}} {{else}} {{range .Pages.ByDate.Reverse }} {{ partial "copy-card" . }}
  {{end}} {{end}}
</div>
