<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 font-medium gap-4">
  {{ if eq .Kind "home" }} {{range .Site.RegularPages }}
  <div
    class="rounded-lg transition group overflow-hidden ring-1 ring-zinc-200/75 focus:z-10 focus:outline-none focus:ring-2 focus:ring-zinc-400 hover:ring-zinc-300 hover:z-10 p-5 w-full group"
  >
    <a
      href="{{.Permalink}}"
      id="{{ .File.UniqueID }}-content"
      class="inline-flex"
      >{{.Content}}</a
    >
    <div class="flex justify-between items-center w-full mt-4 text-xs">
      <button
        class="flex items-center font-medium space-x-1 text-zinc-500 hover:text-zinc-900 transition"
        onclick="copy('{{ .File.UniqueID }}')"
      >
        <svg
          viewBox="0 0 256 256"
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
        >
          <polyline
            points="168 168 216 168 216 40 88 40 88 88"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="20"
          ></polyline>
          <rect
            x="40"
            y="88"
            width="128"
            height="128"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="20"
          ></rect>
        </svg>
        <span id="{{ .File.UniqueID }}-copy">Copy</span>
      </button>
      {{ with .Params.categories }}
        <a class="font-medium text-zinc-600 hover:text-zinc-900 transition opacity-0 group-hover:opacity-100" href="{{ "/categories/" }}{{ . | urlize }}">{{ . | title }}</a>
      {{ end }}
    </div>
  </div>
  {{end}} {{ else if eq .Kind "taxonomy" }} {{range .Pages }}
  <a
    class="rounded-lg p-5 block transition group overflow-hidden ring-1 ring-zinc-200/75 focus:z-10 focus:outline-none focus:ring-2 focus:ring-zinc-400 hover:ring-zinc-300 hover:z-10"
    href="{{.Permalink}}"
  >
    {{ if in .Permalink "/tags" }} #{{.Title | urlize}} {{ else }} {{.Title |
    title}} {{ end }}
  </a>
  {{end}} {{else}} {{range .Pages }}
  <div
    class="rounded-lg transition group overflow-hidden ring-1 ring-zinc-200/75 focus:z-10 focus:outline-none focus:ring-2 focus:ring-zinc-400 hover:ring-zinc-300 hover:z-10 p-5 w-full group"
  >
    <a
      href="{{.Permalink}}"
      id="{{ .File.UniqueID }}-content"
      class="inline-flex"
      >{{.Content}}</a
    >
    <div class="flex justify-between items-center w-full mt-4 text-xs">
      <button
        class="flex items-center font-medium space-x-1 text-zinc-500 hover:text-zinc-900 transition"
        onclick="copy('{{ .File.UniqueID }}')"
      >
        <svg
          viewBox="0 0 256 256"
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
        >
          <polyline
            points="168 168 216 168 216 40 88 40 88 88"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="20"
          ></polyline>
          <rect
            x="40"
            y="88"
            width="128"
            height="128"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="20"
          ></rect>
        </svg>
        <span id="{{ .File.UniqueID }}-copy">Copy</span>
      </button>
      {{ with .Params.categories }}
        <a class="font-medium text-zinc-600 hover:text-zinc-900 transition opacity-0 group-hover:opacity-100" href="{{ "/categories/" }}{{ . | urlize }}">{{ . | title }}</a>
      {{ end }}
    </div>
  </div>
  {{end}} {{end}}
</div>
