{{ define "main" }}

<div
  class="max-w-3xl mx-auto grid items-center md:grid-cols-3 gap-10 py-24 mb-6"
>
  <div class="flex flex-col items-start col-span-2">
    <h1 class="text-3xl tracking-tight font-extrabold">
      Copy book is a collection of commonly used texts.
    </h1>
    <p class="text-stone-500 text-base mt-3 mb-5">
      So whenever you need a copy for a design or if you ever get stuck in the
      middle of development, you can use copy book.
    </p>
    <div class="flex flex-wrap items-center space-x-2">
      <a
        title="Follow for Updates"
        target="_blank"
        rel="noopener noreferrer"
        href="https://twitter.com/praveenjuge"
        class="flex select-none appearance-none items-center justify-center space-x-1.5 rounded-full bg-sky-500 px-4 py-2.5 text-sm font-semibold text-stone-50 transition hover:bg-sky-600 focus:outline-hidden focus:ring-3 focus:ring-sky-300 dark:focus:ring-sky-800"
      >
        <svg
          aria-hidden="true"
          class="flex h-4 w-4 shrink-0"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
          ></path>
        </svg>
        <span>Follow <span class="hidden md:inline">for Updates</span></span>
      </a>
    </div>
  </div>
  <div
    aria-hidden="true"
    class="justify-center items-center h-48 w-48 hidden md:flex select-none"
  >
    <img
      id="imagetag"
      src="images/emoji/56.png"
      class="flex h-48 w-48 select-none"
    />
  </div>
</div>

<script>
  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min)) + min;
  }
  document.getElementById("imagetag").src =
    "images/emoji/" + getRandomInt(1, 168) + ".png";
</script>

{{ partial "card" . }}

<section
  class="mx-auto max-w-7xl my-14 grid grid-cols-1 overflow-hidden lg:rounded-sm bg-stone-900 ring-1 ring-stone-400/20 lg:grid-cols-3 relative shadow-2xl shadow-blue-600/5 saturate-[125%]"
>
  <div
    class="flex absolute inset-0 flex-col pointer-events-none select-none opacity-50"
  >
    <svg
      viewBox="0 0 881 211"
      fill="#fff"
      aria-hidden="true"
      class="w-full lg:w-[42%] h-full"
    >
      <circle cx="101" cy="116" r="1"></circle>
      <circle cx="140" cy="36" r="1"></circle>
      <circle cx="149" cy="134" r="1"></circle>
      <circle cx="162" cy="74" r="1"></circle>
      <circle cx="171" cy="96" r="1"></circle>
      <circle cx="210" cy="56" r="1"></circle>
      <circle cx="235" cy="90" r="1" opacity=".3"></circle>
      <circle cx="247" cy="103" r="1" opacity=".3"></circle>
      <circle cx="261" cy="86" r="1"></circle>
      <circle cx="275" cy="82" r="1"></circle>
      <circle cx="306" cy="6" r="1"></circle>
      <circle cx="307" cy="104" r="1" opacity=".5"></circle>
      <circle cx="307" cy="64" r="1" opacity=".5"></circle>
      <circle cx="357" cy="36" r="1"></circle>
      <circle cx="36" cy="22" r="1" opacity=".3"></circle>
      <circle cx="380" cy="108" r="1"></circle>
      <circle cx="380" cy="68" r="1"></circle>
      <circle cx="391" cy="148" r="1"></circle>
      <circle cx="4" cy="4" r="1"></circle>
      <circle cx="4" cy="44" r="1"></circle>
      <circle cx="405" cy="18" r="1" opacity=".3"></circle>
      <circle cx="412" cy="86" r="1"></circle>
      <circle cx="426" cy="210" r="1" opacity=".5"></circle>
      <circle cx="427" cy="56" r="1"></circle>
      <circle cx="440" cy="107" r="1"></circle>
      <circle cx="477" cy="180" r="1"></circle>
      <circle cx="491" cy="62" r="1"></circle>
      <circle cx="50" cy="146" r="1"></circle>
      <circle cx="516" cy="100" r="1" opacity=".3"></circle>
      <circle cx="538" cy="138" r="1"></circle>
      <circle cx="563" cy="88" r="1"></circle>
      <circle cx="586" cy="120" r="1"></circle>
      <circle cx="611" cy="154" r="1"></circle>
      <circle cx="637" cy="150" r="1" opacity=".5"></circle>
      <circle cx="64" cy="43" r="1"></circle>
      <circle cx="651" cy="146" r="1"></circle>
      <circle cx="682" cy="70" r="1"></circle>
      <circle cx="683" cy="128" r="1" opacity=".5"></circle>
      <circle cx="733" cy="100" r="1"></circle>
      <circle cx="76" cy="30" r="1"></circle>
      <circle cx="781" cy="82" r="1"></circle>
      <circle cx="785" cy="158" r="1" opacity=".3"></circle>
      <circle cx="803" cy="120" r="1" opacity=".5"></circle>
      <circle cx="823" cy="164" r="1"></circle>
      <circle cx="832" cy="146" r="1"></circle>
      <circle cx="852" cy="89" r="1"></circle>
      <circle cx="879" cy="113" r="1"></circle>
    </svg>
    <svg
      viewBox="0 0 881 211"
      fill="#fff"
      aria-hidden="true"
      class="w-full lg:w-[42%] h-full"
    >
      <circle cx="101" cy="116" r="1"></circle>
      <circle cx="140" cy="36" r="1" opacity=".3"></circle>
      <circle cx="149" cy="134" r="1"></circle>
      <circle cx="162" cy="74" r="1"></circle>
      <circle cx="171" cy="96" r="1"></circle>
      <circle cx="210" cy="56" r="1"></circle>
      <circle cx="235" cy="90" r="1" opacity=".3"></circle>
      <circle cx="247" cy="103" r="1"></circle>
      <circle cx="261" cy="86" r="1"></circle>
      <circle cx="275" cy="82" r="1"></circle>
      <circle cx="306" cy="6" r="1"></circle>
      <circle cx="307" cy="104" r="1" opacity=".5"></circle>
      <circle cx="307" cy="64" r="1" opacity=".5"></circle>
      <circle cx="357" cy="36" r="1"></circle>
      <circle cx="36" cy="22" r="1" opacity=".3"></circle>
      <circle cx="380" cy="108" r="1" opacity=".3"></circle>
      <circle cx="380" cy="68" r="1"></circle>
      <circle cx="391" cy="148" r="1"></circle>
      <circle cx="4" cy="4" r="1"></circle>
      <circle cx="4" cy="44" r="1"></circle>
      <circle cx="405" cy="18" r="1"></circle>
      <circle cx="412" cy="86" r="1"></circle>
      <circle cx="426" cy="210" r="1" opacity=".5"></circle>
      <circle cx="427" cy="56" r="1"></circle>
      <circle cx="440" cy="107" r="1"></circle>
      <circle cx="477" cy="180" r="1" opacity=".3"></circle>
      <circle cx="491" cy="62" r="1"></circle>
      <circle cx="50" cy="146" r="1"></circle>
      <circle cx="516" cy="100" r="1"></circle>
      <circle cx="538" cy="138" r="1"></circle>
      <circle cx="563" cy="88" r="1" opacity=".3"></circle>
      <circle cx="586" cy="120" r="1"></circle>
      <circle cx="611" cy="154" r="1"></circle>
      <circle cx="637" cy="150" r="1" opacity=".5"></circle>
      <circle cx="64" cy="43" r="1"></circle>
      <circle cx="651" cy="146" r="1"></circle>
      <circle cx="682" cy="70" r="1"></circle>
      <circle cx="683" cy="128" r="1" opacity=".5"></circle>
      <circle cx="733" cy="100" r="1"></circle>
      <circle cx="76" cy="30" r="1"></circle>
      <circle cx="781" cy="82" r="1"></circle>
      <circle cx="785" cy="158" r="1"></circle>
      <circle cx="803" cy="120" r="1" opacity=".5"></circle>
      <circle cx="823" cy="164" r="1"></circle>
      <circle cx="832" cy="146" r="1" opacity=".3"></circle>
      <circle cx="852" cy="89" r="1"></circle>
      <circle cx="879" cy="113" r="1"></circle>
    </svg>
    <svg
      viewBox="0 0 881 211"
      fill="#fff"
      aria-hidden="true"
      class="w-full lg:w-[42%] h-full"
    >
      <circle cx="101" cy="116" r="1"></circle>
      <circle cx="140" cy="36" r="1"></circle>
      <circle cx="149" cy="134" r="1"></circle>
      <circle cx="162" cy="74" r="1"></circle>
      <circle cx="171" cy="96" r="1"></circle>
      <circle cx="210" cy="56" r="1"></circle>
      <circle cx="235" cy="90" r="1" opacity=".3"></circle>
      <circle cx="247" cy="103" r="1"></circle>
      <circle cx="261" cy="86" r="1" opacity=".3"></circle>
      <circle cx="275" cy="82" r="1"></circle>
      <circle cx="306" cy="6" r="1"></circle>
      <circle cx="307" cy="104" r="1" opacity=".5"></circle>
      <circle cx="307" cy="64" r="1" opacity=".5"></circle>
      <circle cx="357" cy="36" r="1"></circle>
      <circle cx="36" cy="22" r="1" opacity=".3"></circle>
      <circle cx="380" cy="108" r="1"></circle>
      <circle cx="380" cy="68" r="1"></circle>
      <circle cx="391" cy="148" r="1"></circle>
      <circle cx="4" cy="4" r="1"></circle>
      <circle cx="4" cy="44" r="1"></circle>
      <circle cx="405" cy="18" r="1"></circle>
      <circle cx="412" cy="86" r="1"></circle>
      <circle cx="426" cy="210" r="1" opacity=".5"></circle>
      <circle cx="427" cy="56" r="1"></circle>
      <circle cx="440" cy="107" r="1"></circle>
      <circle cx="477" cy="180" r="1"></circle>
      <circle cx="491" cy="62" r="1"></circle>
      <circle cx="50" cy="146" r="1"></circle>
      <circle cx="516" cy="100" r="1"></circle>
      <circle cx="538" cy="138" r="1" opacity=".3"></circle>
      <circle cx="563" cy="88" r="1"></circle>
      <circle cx="586" cy="120" r="1"></circle>
      <circle cx="611" cy="154" r="1"></circle>
      <circle cx="637" cy="150" r="1" opacity=".5"></circle>
      <circle cx="64" cy="43" r="1"></circle>
      <circle cx="651" cy="146" r="1"></circle>
      <circle cx="682" cy="70" r="1"></circle>
      <circle cx="683" cy="128" r="1" opacity=".5"></circle>
      <circle cx="733" cy="100" r="1"></circle>
      <circle cx="76" cy="30" r="1"></circle>
      <circle cx="781" cy="82" r="1"></circle>
      <circle cx="785" cy="158" r="1"></circle>
      <circle cx="803" cy="120" r="1" opacity=".5"></circle>
      <circle cx="823" cy="164" r="1"></circle>
      <circle cx="832" cy="146" r="1"></circle>
      <circle cx="852" cy="89" r="1"></circle>
      <circle cx="879" cy="113" r="1"></circle>
    </svg>
  </div>
  <div
    class="flex flex-col items-start justify-center gap-4 p-8 md:p-12 relative"
  >
    <div class="relative w-16 h-16 shrink-0">
      <div
        class="absolute inset-0 w-12 h-12 bg-blue-500 top-2 left-2 blur-2xl"
      ></div>
      <img
        src="/images/colorful.png"
        alt="MynaUI Logo"
        class="w-16 h-16 shrink-0 relative bg-stone-900 rounded-2xl"
      />
    </div>
    <div>
      <h3 class="mb-1.5 text-2xl font-bold tracking-tight text-stone-50">
        Myna UI Components
      </h3>
      <p class="text-stone-400">
        Create stunning, modern web experiences instantly with Myna UI — a
        comprehensive set of HTML components and Figma UI kit based on
        TailwindCSS design system.
      </p>
    </div>
    <a
      class="disabled:opacity-50 transition inline-flex items-center justify-center space-x-1.5 border focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-offset-stone-900 focus:z-10 shrink-0 border-blue-700/75 focus:ring-blue-600 bg-blue-600 text-white hover:bg-blue-700 hover:border-blue-700 px-3 py-1.5 text-sm font-medium rounded-md"
      target="_blank"
      rel="noopener noreferrer"
      href="https://mynaui.com"
      ><span>Checkout MynaUI</span
      ><svg
        width="24"
        height="24"
        fill="none"
        stroke="currentcolor"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke-linecap="round"
        stroke-linejoin="round"
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
      >
        <path d="m6.5 17.5 11-11m0 0h-9m9 0v9"></path>
      </svg>
    </a>
  </div>
  <div class="col-span-1 h-96 overflow-hidden lg:col-span-2 relative">
    <div class="flex flex-col gap-1">
      <img
        alt="Myna UI Images"
        loading="lazy"
        width="1625"
        height="1768"
        decoding="async"
        data-nimg="1"
        class="h-full w-full animate-[slidecta_80s_linear_infinite] select-none"
        style="color: transparent"
        src="/images/grid.png"
      /><img
        alt="Myna UI Images"
        loading="lazy"
        width="1625"
        height="1768"
        decoding="async"
        data-nimg="1"
        class="h-full w-full animate-[slidecta_80s_linear_infinite] select-none"
        style="color: transparent"
        src="/images/grid.png"
      />
    </div>
  </div>
</section>

{{ end }}
